<div>
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-5">
      <h2>Form Data</h2>
      <form [formGroup]="myForm" (ngSubmit)="login()">
        {{ myForm.value | json }}
        <hr />
        <div class="form-group">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            placeholder="email"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.invalid && email.touched"
          >
            Your email doesnt look right!
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="password"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.invalid && password.touched"
          >
            your password sucks
          </div>
        </div>
        <div class="form-group">
          <button
            class="form-control btn btn-primary"
            type="button"
            [disabled]="!enabled"
            (click)="login(email.value, password.value)"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
